@font-face {
  font-family: 'SAO-System';
  src: url('../fonts/sword_art_online_font_by_darkblackswords-d5nssbp.otf');
}

h1 {
	font-family: 'SAO-System', sans-serif;
	font-size: 64px;
	margin: 30px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

.top-menu-list {
	width: 100px;
	display: inline-block;
}

.top-menu {
  width: 80px;
  height:80px;
  background:#ccc;
  border: double 10px #fff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  display:table-cell;
  vertical-align:middle;
  text-align: center;
}
